.sophieJourney {
  background-color: $secondary;
}

.sophieJourney__flex {
  display: flex;
  margin: 0 auto;
  padding: 8em 0 8em 2.6em;
}

.sophieJourney__img {
  box-shadow: $primary;
}

.sophieJourney__content {
  padding-left: 4em;
  width: 70%;
}

// Image offset
.sophieJourneyImg--offset {
  box-shadow: 15px 15px 0 0 $primary;
}